body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7ff8b2;
    color: #333
}

.cabecalho {
    background: linear-gradient(135deg, #27ae60, #104b28);
    text-align: center;
    color: #ffffff;
    padding: 40px 20px;
    border-bottom: 4px solid #01e761;
}

.cabecalho h1 {
    margin: 0;
    font-size: 2.6em;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.cabecalho p {
    margin-top: 15px;
    font-size: 1.0em;
    color: #d9f9e6;
}

.menu {
    background-color: #ffffff;
    padding: 15px 0px;
    width: 100%;
    margin-top: 30px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu a {
    color: #27ae60;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 18px;
    border-radius: 6px;
    transition: background-color 0.6s ease, color 0.6s ease;
}

.menu a:hover {
    background-color: #27ae60;
    color: #ffffff;
}

.conteudo {
    max-width: 900px;
    margin: auto;
    padding: 40px 30px 40px 30px;
    line-height: 1.7;
    color: #333333;
    background-color: #f8fff8;

}

.artigo h2 {
    background: linear-gradient(to right, #8ffcbc, #ffffff);
    color: #1b5e20;
    font-size: 2em;
    padding-top: 20px;
    padding: 8px;
    border-radius: 12px;
    margin: 0 0 0 0;
    margin-left: -7px;
    text-align: left;
}

.artigo h3 {
    color: #2ecc71;
    margin: 50px 0 0 0;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.artigo p {
    margin-bottom: 20px;
    font-size: 1.1em
}

.imagem {
    display: block;
    height: auto;
    margin: auto;
}

.video {
    text-align: center;
    margin: 40px 0;
}

.extra {
    background-color: #f0fdf4;
    border-left: 6px solid #2ecc71;
    padding: 20px 20px;
    border-radius: 8px;
}


.lista-dupla {
    list-style: none;
    columns: 2;
    padding-left: 18%;
}

.lista-dupla li:hover {
    color: #2ecc71;
}


.extra h3 {
    background-color: #1b5e20;
    color: #ffffff;
    font-size: 1.5em;
    padding-left: 10px;
    margin: -20px -20px 0px -26px;
    border-radius: 10px 10px 0px 0px;
}

.extra a {
    color: #2ecc71;
    font-weight: bold;
    text-decoration: none;
}

.extra a:hover {
    text-decoration: underline;
}

.rodape {
    text-align: center;
    margin-top: 60px;
    padding: 30px 20px;
    color: #666;
}

.rodape p {
    font-size: 1.1em;
}

.rodape .credito {
    font-size: 0.95em;
    padding-top: 50px;
}