body{
    background-color: rgb(91, 91, 214);

}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 18px;
    width: 500px;
    margin: auto; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}

footer{
    color: white;
    text-align: center;
}

#imagem{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: auto;
}

#res{
    padding-top: 20px;
    text-align: center;
}

#botao{
    display: block;
    margin: auto;
}